{% import "messages/macros.jinja" as macros %}
{% extends "base.html" %}
{% block title %}All messages{% endblock %}
{% block content2 %}
{{macros.message_list(messages)}}

    <br />
    <div class="btn-group">
        <button type="button" class="btn btn-default"><a href="{{ url_for('message.read_all') }}">Mark all as readed</a></button>
        <button type="button" class="btn btn-default"><a href="{{ url_for('message.new_messages')}}">Show new messages</a></button>
    </div>

{% endblock %}