{% import "messages/macros.jinja" as macros %}
{% extends "base.html" %}
{% block title %}Dialog {{other_user['username']}}{% endblock %}
{% block content2 %}
{{macros.message_list(messages)}}
    <br />
    <div class="btn-group">
        <button type="button" class="btn btn-default"><a href="{{ url_for('message.send_message',user_id=other_user['user_id']) }}">Reply</a></button>
        <button type="button" class="btn btn-default"><a href="{{ url_for('message.messages') }}">All messages</a></button>
    </div>

{% endblock %}

